/* STYLES */

body {
    background: ccc5b9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;

}

main  {
    max-width: 50%;



}

h1  {
    font-size:  72px;
    color: #eb5328;
    letter-spacing: ;


}
